  <footer>

    <div>
      <a href="https://github.com/TheBerlinMan/OurMovies"><i class="fab fa-github fa-2xl"></i></a>
      <a href="https://www.linkedin.com/in/thomas-onik/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
    </div>
    <p>© Made by Tommy, 2024 <br> Movie data provided by <a href="https://www.themoviedb.org/">TMDb</a></p>

  </footer>
</body>
</html>
