html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: rgb(69, 69, 69);
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: rgba(0, 0, 0, 0.4);
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  gap: 24px;
}

nav > a > button{
  padding: 8px;
  background-color: #454545;
  color: white;
  border-radius: 8px;
  border: 1px solid white;
}
nav > a > button:hover{
  cursor: pointer;
  padding: 8px;
  background-color: white;
  color: black;
  border-radius: 8px;
  border: 1px solid white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.titleCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  padding: 30px;
}

.titleCard > h2{
  margin: 0;
  padding: 0;
}

footer{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 28px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  text-align: center;
}

footer > div{
  padding-top: 16px;
  display: flex;
  gap: 8px;
  
}

footer > p{
  padding: 0;
  margin: 0;
}

footer > p > a, footer > div > a{
  color: white;  
}