<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>







  

</main>

<%- include("../partials/footer") %>