

.movies{
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid white; */
  /* flex-direction: column; */
  flex-direction: row;
}

/* main{
  background-color: white;
} */

.movieCard{
  border: 2px solid white;
  border-radius: 16px;
  padding: 16px;
  margin: 16px;
  display: flex;
  gap: 16px;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.actions{
  display: flex;
  gap: 16px;
}

span{
  font-weight: 700;
  font-size: 16px;
}

button{
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #cd68df;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-weight: 600;
}

button:hover{
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  background-color: white;
  color: #cd68df;
  border: 1px solid white;
  cursor: pointer;
  font-weight: 600;
}
