form {
  display: flex;
  font-size: 20px;
  padding: 0 60px;
}

p{
  margin: 0;
  padding: 0;

}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > button {
  grid-column: span 2;
  width: 160px;
  margin-left: auto;
  font-size: 22px;
}

.info > div{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.info > div > label{
  /* width: 200px; */
  font-weight: 700;
  
}

.item{
  background-color: blue;
  border: 1px solid;
}