.main {
  display: flex;
  font-size: 20px;
  padding: 0 60px;
}

p{
  margin: 0;
  padding: 0;

}

.main * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

.main > button {
  grid-column: span 2;
  width: 160px;
  margin-left: auto;
  font-size: 22px;
}

.info > div{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.info > div > label{
  /* width: 200px; */
  font-weight: 700;
  
}

.item{
  background-color: rgba(0, 0, 0,0.4);
  border: 1px solid;
  padding: 3px 6px;
  border-radius: 4px;
}

.reviewForm{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviewForm > h3 {
  margin: 0;
  padding: 0;
}

/* .reviewForm > .line{
  border-bottom: 0.5px white solid;
} */